* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, purple, #2196F3);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: darkgoldenrod;
  font-size: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  flex-direction: row;
  gap: 30px;
}

button {
  padding: 13px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.toggle-label {
  font-size: 18px;
  margin-right: 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.toggle-label-on {
  color: #4CAF50;
}

.toggle-label-off {
  color: #f44336;
}

.toggle-switch input:checked + .toggle-slider {
  background-color: #4CAF50;
}

.toggle-switch input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

.refresh-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: box-shadow 0.3s, transform 0.2s;
}

.refresh-button:hover {
  box-shadow: 0 0 10px 5px rgba(255, 140, 0, 0.7);
  transform: scale(1.05);
}

.flex-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  margin: 20px auto;
  gap: 20px;
  padding: 70px;
  background-color: lightseagreen;
  height: 100vh;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 400px;
}

.door {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: darkblue;
  border-radius: 8px;
}

.flex-card p {
  text-align: center;
  font-size: 16px;
  color: #333333;
}

#allowButton {
  background-color: #4CAF50;
  color: white;
}

#denyButton {
  background-color: #f44336;
  color: white;
}

#viewButton {
  background-color: #2196F3;
  color: white;
}

button:hover {
  background-color: #555555;
  transform: scale(1.05);
}

.success {
  color: #4CAF50;
  font-weight: bold;
}

.head-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 60px;
  padding-top: 50px;
  align-items: center;
}

.logo {
  font-size: 30px;
}